// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.list-group li {
  list-style: none;
}

.panel-info, .panel-rating, .panel-more {
  float: left;
  margin: 0 10px;
}

.panel-links {
  margin-top: 10px;
}

.trees {
  margin-top: 10px;
  width: 50px;
  height: 15px;
  background-image: url('../images/trees/trees.png');
}

.tree {
  margin-top: -5px;
  position: absolute;
}

.level_up {
  color: #EF9502;
  margin-top: -67px;
  margin-left: 1px;
  position: absolute;
  font-size: 22px;
  font-family: comic sans ms;
  text-shadow: 1px 1px 2px #000;
}

.menu {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.climat-medium {
  color: $brand-warning
}

.climat-hot {
  color: $brand-danger
}

.climat-tropical {
  color: $brand-success
}

.climat-cold {
  color: $brand-primary
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

@for $i from 1 through 21 {
  .slot#{$i} {
    width: 42px;
    height: 42px;
    padding: 5px;
    cursor: pointer;
  }
}

.info-break-block {
  height: 36px;
}
#params-container div {
  display: block;
  width: 230px;
}
.param-bag {
  /*float: left;*/
  text-align: left;
  /*width: 230px;*/
  padding: 2px 0 6px 5px;
  font-size: 14px
}

.nopad {
  padding: 2px 0 0 5px;
}

.border {
  border-bottom: 2px solid #8a6d3b;
}

.abvalue {
  text-align: right;
  float: right;
  color: $brand-primary;
  font-weight: bold;
}

#params-container > .hr {
  /*width: 230px;*/
  height: 1px;
  border-bottom: 1px solid #985f0d;
  position: relative;
}